<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Projeto_caua</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        h3{
            margin-top:6px;
            margin-left:5px;
        }
        .sidebar {
            display: flex;
            position: fixed;
            justify-content: right;
            flex-direction: column;
            background-color:#283541;
            color: white;
            height: 100%;
            width: 250px;
            font-family: monospace;
            font-size: 25px;
        }

        body {
            margin: 0;
            padding: 0;
        }

        .navs {
            display: inline-flex;
            text-decoration: none;
            color: white;
        }

        .links {
            margin: 0px;
            color: white;
            text-decoration: none;
        }
        .home{
            margin: 0px;
            color: white;
            text-decoration: none;
            display: inline-flex;
            color:lightblue;
        }

        .links:hover {
                background-color: coral;

                width: 90%;
                opacity:1px;
                font-size: 25px;
                color: white;
                text-decoration: none;
                border-radius: 0px 50px 50px 0px;
            }
    </style>
</head>
<body>
    <div>
        <div class="sidebar">
            <div class="navs">
                <a class="home" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="./lib/img/imagem_nuvem.png" style="width:40px; height:auto;"/>
                <h3>Agenda PRACK</h3>

                </a>
            </div>
            <div class="navs">
                <a class="links" asp-area="" asp-controller="Pedidos" asp-action="Index">Pedidos</a>
            </div>
            <div class="navs">
                <a class="links" asp-area="" asp-controller="Empresa" asp-action="Index">Empresas</a>
            </div>
            <div class="navs">
                <a class="links" asp-area="" asp-controller="Loja" asp-action="Index">Lojas</a>
            </div>
            <div class="navs">
                <a class="links" asp-area="" asp-controller="Representante" asp-action="Index">Representantes</a>
            </div>

        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
 